NEXT_PUBLIC_BASE_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=abc123
TURSO_DATABASE_URL=libsql://<your-database-name>.turso.io
TURSO_AUTH_TOKEN=abc123
GOOGLE_CLIENT_ID=<your-client-id>.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=abc123
UPSTASH_REDIS_REST_URL=https://<your-upstash-redis>.upstash.io
UPSTASH_REDIS_REST_TOKEN=abc123