@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cream: 330 20% 98%;

  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 30 31% 95%;
    --foreground: 29 84% 5%;
    --card: 30 31% 95%;
    --card-foreground: 29 84% 5%;
    --popover: 30 31% 95%;
    --popover-foreground: 29 84% 5%;
    --primary: 34 98% 77%;
    --primary-foreground: 29 84% 5%;
    --secondary: 120 35% 82%;
    --secondary-foreground: 29 84% 5%;
    --muted: 30 31% 20%;
    --muted-foreground: 29 84% 50%;
    --accent: 189 46% 82%;
    --accent-foreground: 189 84% 5%;
    --destructive: 0 70% 65%;
    --destructive-foreground: 29 84% 100%;
    --border: 30 31% 20%;
    --input: 30 31% 20%;
    --ring: 189 46% 40%;
    --radius: 0.5rem;
    --chart-1: 34 80% 70%;
    --chart-2: 189 46% 82%;
    --chart-3: 192 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-6: 173 58% 39%;
    --chart-7: 12 80% 30%;
    --chart-8: 12 80% 20%;
    --chart-9: 12 80% 10%;
    --chart-10: 50 90% 80%;
    --input-bg: 30 31% 95%;
    --input-border: 30 31% 20%;
  }

  .dark {
    --background: 30 31% 5%;
    --foreground: 29 84% 95%;
    --card: 30 31% 5%;
    --card-foreground: 29 84% 95%;
    --popover: 30 31% 5%;
    --popover-foreground: 29 84% 100%;
    --primary: 34 38% 52%;
    --primary-foreground: 29 84% 100%;
    --secondary: 120 15% 65%;
    --secondary-foreground: 29 84% 5%;
    --muted: 30 31% 30%;
    --muted-foreground: 29 84% 95%;
    --accent: 189 40% 60%;
    --accent-foreground: 29 84% 5%;
    --destructive: 0 62% 60%;
    --destructive-foreground: 29 84% 100%;
    --border: 30 31% 60%;
    --input: 30 31% 80%;
    --ring: 189 46% 60%;
    --chart-1: 34 70% 60%;
    --chart-2: 189 60% 80%;
    --chart-3: 192 40% 60%;
    --chart-4: 43 60% 70%;
    --chart-5: 27 60% 40%;
    --chart-6: 173 40% 70%;
    --chart-7: 12 45% 40%;
    --chart-8: 27 90% 40%;
    --chart-9: 12 20% 40%;
    --chart-10: 50 40% 85%;
    --input-bg: 30 31% 5%;
    --input-border: 30 31% 80%;
  }
}

body {
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

/* jsjs no encontré otra manera */
.dark .input-placeholder::placeholder {
  color: hsl(30, 0%, 90%);
}

/* .dark {
  --background: 30 31% 3%;
  --foreground: 29 84% 95%;
  --card: 30 31% 5%;
  --card-foreground: 29 84% 95%;
  --popover: 30 31% 5%;
  --popover-foreground: 29 84% 100%;
  --primary: 34 98% 77%;
  --primary-foreground: 29 84% 5%;
  --secondary: 120 35% 80%;
  --secondary-foreground: 29 84% 5%;
  --muted: 30 31% 20%;
  --muted-foreground: 29 84% 95%;
  --accent: 189 46% 82%;
  --accent-foreground: 29 84% 5%;
  --destructive: 0 62% 30%;
  --destructive-foreground: 29 84% 10%;
  --border: 30 31% 60%;
  --input: 30 31% 80%;
  --ring: 189 46% 60%;
}
 */
