@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cream: 330 20% 98%;
  --muted: 0 0% 15%;

  color: hsl(var(--text));
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 30 31% 95%;
    --foreground: 29 84% 5%;
    --card: 30 31% 95%;
    --card-foreground: 29 84% 5%;
    --popover: 30 31% 95%;
    --popover-foreground: 29 84% 5%;
    --primary: 34 98% 77%;
    --primary-foreground: 29 84% 5%;
    --secondary: 120 35% 82%;
    --secondary-foreground: 29 84% 5%;
    --muted: 30 31% 20%;
    --muted-foreground: 29 84% 70%;
    --accent: 189 46% 82%;
    --accent-foreground: 29 84% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 29 84% 5%;
    --border: 30 31% 20%;
    --input: 30 31% 20%;
    --ring: 189 46% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 31% 5%;
    --foreground: 29 84% 95%;
    --card: 30 31% 5%;
    --card-foreground: 29 84% 95%;
    --popover: 30 31% 5%;
    --popover-foreground: 29 84% 95%;
    --primary: 34 98% 23%;
    --primary-foreground: 29 84% 95%;
    --secondary: 120 35% 18%;
    --secondary-foreground: 29 84% 95%;
    --muted: 30 31% 80%;
    --muted-foreground: 29 84% 95%;
    --accent: 189 46% 18%;
    --accent-foreground: 29 84% 95%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 29 84% 10%;
    --border: 30 31% 60%;
    --input: 30 31% 80%;
    --ring: 189 46% 60%;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}
